<div data-v-1abefe75="">
  <div data-v-1abefe75="" class="card">
    <div data-v-1abefe75="" class="card-header">
      <div data-v-1abefe75="" class="d-md-flex justify-content-between align-items-start">
        <nav data-v-1abefe75="" aria-label="breadcrumb" role="navigation">
          <ol data-v-1abefe75="" class="breadcrumb page-head-nav page-header pl-0 mb-0">
            <li data-v-1abefe75="" class="breadcrumb-item"><a data-v-1abefe75=""
                                                              href="/cabinet/summary">Сводка</a></li>
            <li data-v-1abefe75="" class="breadcrumb-item">Товары</li>
          </ol>
        </nav>
        <div data-v-1abefe75=""
             class="d-flex flex-column flex-lg-row justify-content-between justify-content-lg-start align-items-lg-center">
          <div data-v-1abefe75="" class="d-flex flex-column flex-lg-block flex-lg-row">
            <div data-v-1abefe75="" class="d-block-inline dropdown-period mr-3"><!----><!----><!---->
              <!----><!----><!----><!---->
              <div class="btn-group d-flex flex-column flex-lg-block flex-lg-row"><!---->
                <div class="btn btn-secondary">
                  <div data-v-1ebd09d2="" class="vue-daterange-picker">
                    <div data-v-1ebd09d2="" class=""><i data-v-1ebd09d2=""
                                                        class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                      <input disabled id="date"/><b
                              data-v-1ebd09d2="" class="caret"></b></div><!----></div>
                </div> <!----></div>
            </div>
            <div data-v-1abefe75="" class="dropdown b-dropdown mr-3 dropleft btn-group" id="__BVID__10">
              <!---->
              <ul role="menu" tabindex="-1" class="dropdown-menu"
                  aria-labelledby="__BVID__10__BV_toggle_">
                <li data-v-1abefe75="" role="presentation"><a role="menuitem" href="#"
                                                              target="_self" class="dropdown-item">
                    Расчет поставки
                  </a></li>
                <li data-v-1abefe75="" role="presentation">
                  <hr data-v-1abefe75="" role="separator" aria-orientation="horizontal"
                      class="dropdown-divider">
                </li>
                <li data-v-1abefe75="" role="presentation"><a role="menuitem" href="#"
                                                              target="_self" class="dropdown-item">
                    Сравнение периодов
                  </a></li>
                <li data-v-1abefe75="" role="presentation"><a role="menuitem"
                                                              href="/cabinet/warehouses"
                                                              rel="noopener" target="_blank"
                                                              class="dropdown-item">
                    Раскладка по складам
                  </a></li>
                <li data-v-1abefe75="" role="presentation">
                  <hr data-v-1abefe75="" role="separator" aria-orientation="horizontal"
                      class="dropdown-divider">
                </li>
                <li data-v-1abefe75="" role="presentation"><a role="menuitem"
                                                              href="/cabinet/import/cost-price"
                                                              rel="noopener" target="_blank"
                                                              class="dropdown-item">
                    Импорт себестоимости
                  </a></li>
                <li data-v-1abefe75="" role="presentation"><a role="menuitem" href="#"
                                                              target="_self" class="dropdown-item">
                    Сбросить параметры товаров
                  </a></li>
              </ul>
            </div>
            <div data-v-1abefe75="" class="dropdown b-dropdown mr-3 dropleft btn-group" id="__BVID__21">
              <!---->

              <ul role="menu" tabindex="-1" class="dropdown-menu py-2"
                  aria-labelledby="__BVID__21__BV_toggle_">
                <li data-v-1abefe75="">
                  <div data-v-1abefe75="" class="dropdown-item">
                    <div data-v-08387b56="" data-v-1abefe75=""
                         class="d-inline-block text-left mr-3 d-flex align-items-center switcher-xs">
                      <div data-v-08387b56="" class="switcher-button-wrapper">
                        <div data-v-08387b56=""
                             class="switch-button mr-1 switch-button-xs switcher-on-off">
                          <input data-v-08387b56="" type="checkbox"
                                 name="switcher-element-55801"
                                 id="switcher-element-55801"> <span
                                  data-v-08387b56=""><label data-v-08387b56=""
                                                            for="switcher-element-55801"></label></span>
                        </div>
                        <span data-v-08387b56="" class="switcher-text">
                                        Группировать размеры
                                    </span></div>
                    </div>
                  </div>
                </li>
                <li data-v-1abefe75="">
                  <div data-v-1abefe75="" class="dropdown-item">
                    <div data-v-08387b56="" data-v-1abefe75=""
                         class="d-inline-block text-left switcher-xs">
                      <div data-v-08387b56="" class="switcher-button-wrapper">
                        <div data-v-08387b56=""
                             class="switch-button mr-1 switch-button-xs switcher-on-off disabled">
                          <input data-v-08387b56="" type="checkbox"
                                 name="switcher-element-59229" id="switcher-element-59229"
                                 disabled="disabled"> <span data-v-08387b56=""><label
                                    data-v-08387b56=""
                                    for="switcher-element-59229"></label></span></div>
                        <span data-v-08387b56="" class="switcher-text text-muted">
                                        Показать выведенные из номенклатуры
                                        (<span data-v-1abefe75="" data-v-08387b56="">0</span> шт
                                        <i data-v-1abefe75="" data-v-08387b56=""
                                           class="fas fa-info-circle text-muted ml-1"></i>)
                                    </span></div>
                    </div>
                  </div>
                </li>
                <li data-v-1abefe75="">
                  <div data-v-1abefe75="" class="dropdown-item">
                    <div data-v-08387b56="" data-v-1abefe75=""
                         class="d-inline-block text-left mr-3 d-flex align-items-center switcher-xs">
                      <div data-v-08387b56="" class="switcher-button-wrapper">
                        <div data-v-08387b56=""
                             class="switch-button mr-1 switch-button-xs switcher-on-off">
                          <input data-v-08387b56="" type="checkbox"
                                 name="switcher-element-41949"
                                 id="switcher-element-41949"> <span
                                  data-v-08387b56=""><label data-v-08387b56=""
                                                            for="switcher-element-41949"></label></span>
                        </div>
                        <span data-v-08387b56="" class="switcher-text">
                                        Учет самовыкупов
                                    </span></div>
                    </div>
                  </div>
                </li>
                <h6 data-v-1abefe75="" class="dropdown-header mt-2">Быстрые фильтры</h6>
                <div data-v-1abefe75="" class="dropdown-divider"></div>
                <div data-v-1abefe75="">
                  <li role="presentation"><a id="showDiffBalance" role="menuitem" href="#"
                                             target="_self" class="dropdown-item">
                      Разница в остатках
                      <!----></a></li>
                  <li role="presentation"><a id="goodsMovement" role="menuitem" href="#"
                                             target="_self" class="dropdown-item">
                      Товары, по которым было движение
                      <!----></a></li>
                  <li role="presentation">
                    <hr role="separator" aria-orientation="horizontal" class="dropdown-divider">
                  </li>
                  <li role="presentation"><a role="menuitem" href="#" target="_self"
                                             class="dropdown-item">Сбросить фильтры</a></li>
                </div>
              </ul>
            </div>
            <div id="__BVID__11" class="api-key-selector d-flex align-items-start align-items-xxl-center">
              <button aria-haspopup="true" onclick="allKeys()" aria-expanded="false" type="button" class="btn btn-secondary" id="__BVID__11__BV_toggle_">
                <span>Все ключи API</span>
              </button>
              <div style="display: none;position: absolute; height: 160px; right: -2px;top: 20px; z-index: 22; width: 150px; background: #e5e5e5; border-radius: 2px;">
                <button style="width: inherit;" aria-haspopup="true" onclick="allKeys()" aria-expanded="false" type="button" class="btn btn-secondary">
                  <span>Все ключи API</span>
                </button>
                <select style="box-shadow: 0px 0px 4px 0px black;top: 5px;border: none;" multiple="multiple" class="dropdown_keys">
                  <option value="all" onclick="allSelectKeys()">Все ключи API</option>
                  {% for token in allTokens %}
                    <option value="{{token.id}}">
                      {% if token.name|length > 9 %}
                        {{ token.name|slice(0, 9) }}...
                      {% else %}
                        {{token.name}}
                      {% endif %}
                    </option>
                  {% endfor %}
                </select>
                <button style="top: 5px; z-index: 12;left: 0px;width: inherit;" onclick="applyToken('{{path("products")}}')" class="dropdown_keys btn btn-secondary" >
                  <span>Применить</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> <!----></div>
    <div data-v-1abefe75="" class="card-body">
      <div data-v-1abefe75="" class="w35">
        <div groupdisplaytype="singleColumn" class="ag-theme-balham">
        </div>
        <button class="excel-btn" onclick="option.api.exportDataAsExcel()">
          Экспорт
          <svg
                  viewBox="0 0 16 16"
                  width="1em"
                  height="1em"
                  focusable="false"
                  role="img"
                  aria-label="file earmark excel"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  class="bi-file-earmark-excel b-icon bi"
          >
            <g>
              <path
                      d="M5.884 6.68a.5.5 0 1 0-.768.64L7.349 10l-2.233 2.68a.5.5 0 0 0 .768.64L8 10.781l2.116 2.54a.5.5 0 0 0 .768-.641L8.651 10l2.233-2.68a.5.5 0 0 0-.768-.64L8 9.219l-2.116-2.54z"
              ></path>
              <path
                      d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"
              ></path>
            </g>
          </svg>
        </button>
      </div>
      <div data-v-1abefe75="" class="d-flex justify-content-between mt-3">
        <div data-v-1abefe75="" class="d-flex flex-column">
          <div data-v-1abefe75="" class="d-flex align-items-center mb-1">
            <div data-v-1abefe75="" class="row-bg-info mr-1" style="background: cornsilk;"></div>
            - строки с товарами где по данным API есть товары на складах, но нет в данных с сайта
          </div>
          <div data-v-1abefe75="" class="d-flex align-items-center mb-1">
            <div data-v-1abefe75="" class="row-bg-info ag-grid-editable-cell mr-1"></div>
            - редактируемые поля
          </div>
          <div data-v-1abefe75="" class="d-flex align-items-center mb-1">
            <div data-v-1abefe75="" class="row-bg-info mr-1"
                 style="background: rgb(220, 220, 220);"></div>
            - товары, выведенные из номенклатуры
          </div>
          <div data-v-1abefe75="" class="d-flex align-items-center">
            <div data-v-1abefe75="" class="row-bg-info mr-1"
                 style="background: rgba(255, 126, 126, 0.86);"></div>
            - товар попавший в список по ошибке WB
          </div>
        </div>
      </div>
    </div>
  </div> <!----> <!----> <!----></div>