{% extends 'index/index.html.twig' %}
{% block linkStyles %}
    <link href="../../styles/index/styles.css" rel="stylesheet">
    <link href="../../styles/index/vendor.css" rel="stylesheet">
    <link href="../../styles/summary/summary.css" rel="stylesheet">
    <link href="../../styles/summary/table.css" rel="stylesheet">
    <link href="../../styles/summary/table2.css" rel="stylesheet">
    <link href="../../styles/seo/selection.css" rel="stylesheet">
    <link href="../../styles/seo/slider.css" rel="stylesheet">
    <link href="../../styles/seo/table.css" rel="stylesheet">

{% endblock %}
{% block body %}
    <div id="mp-stats-app" class="main-content container-fluid">
        <div id="global-loader-block" aria-hidden="true" class="mp-loader-overlay ag-overlay hidden">
            <div class="ag-overlay-panel">
                <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-loading-wrapper">
                    <div class="mp-loader-static"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-6">
                <div class="card card-border-color card-border-color-primary self-align-center">
                    <div class="card-header card-header-divider d-flex justify-content-between align-items-start">
                        <div>
                            Поиск по продавцу<span class="card-subtitle">Поиск товаров и аналитики по продавцу</span>
                        </div>
                        <div class="dropdown b-dropdown favorite-dropdown-component btn-group" id="__BVID__7"><!---->
                            <button aria-haspopup="true" aria-expanded="false" type="button"
                                    class="btn btn-secondary btn-sm" id="__BVID__7__BV_toggle_"><span
                                        style="line-height: 22px;">
                            Избранное
                            <i class="fas fa-caret-down ml-1"></i></span> <span aria-hidden="true"
                                                                                class="ml-1 spinner-border spinner-border-sm text-success"
                                                                                style="display: none;"><!----></span>
                            </button>
                            <ul role="menu" tabindex="-1" class="dropdown-menu" aria-labelledby="__BVID__7__BV_toggle_">
                                <li role="presentation"><a role="menuitem" href="#" target="_self" tabindex="-1"
                                                           aria-disabled="true" class="dropdown-item disabled">В
                                        избранном</a></li>
                                <li role="presentation">
                                    <hr role="separator" aria-orientation="horizontal" class="dropdown-divider">
                                </li>
                                <li role="presentation"><a role="menuitem" href="#" target="_self" tabindex="-1"
                                                           aria-disabled="true" class="dropdown-item disabled">
                                        <div class="w-100 text-center"><em>нет записей</em></div>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                            <div class="form-group row"><label for="seller"
                                                               class="col-4 col-lg-3 col-form-label text-right">
                                    Название продавца
                                </label>
                                <div class="col-8 col-lg-9"><input id="seller" type="text"
                                                                   placeholder="Название продавца" name="seller"
                                                                   class="form-control"></div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-lg-2"></div>
                                <div class="col-9 col-lg-10">
                                    <button onclick="redirect()"  type="submit" class="btn btn-xl float-right btn-space btn-primary">
                                        Искать
                                    </button>
                                </div>
                            </div>
                    </div> <!----></div>
            </div>
        </div>
        <div><!---->
            <div class="snotify snotify-left_top"></div>
            <div class="snotify snotify-left_center"></div>
            <div class="snotify snotify-left_bottom"></div>
            <div class="snotify snotify-right_top"></div>
            <div class="snotify snotify-right_center"></div>
            <div class="snotify snotify-right_bottom"></div>
            <div class="snotify snotify-center_top"></div>
            <div class="snotify snotify-center_center"></div>
            <div class="snotify snotify-center_bottom"></div>
        </div>
    </div>
    <script>
        function redirect() {
            let value = document.getElementById("seller").value
            if (value.length > 0) window.location.href = "seller/" + value
        }
    </script>
{% endblock %}