{% extends 'index/index.html.twig' %}
{% block linkStyles %}
    <link href="../../styles/index/styles.css" rel="stylesheet">
    <link href="../../styles/index/vendor.css" rel="stylesheet">
    <link href="../../styles/summary/summary.css" rel="stylesheet">
    <link href="../../styles/summary/table.css" rel="stylesheet">
    <link href="../../styles/summary/table2.css" rel="stylesheet">
    <link href="../../styles/seo/selection.css" rel="stylesheet">
    <link href="../../styles/seo/slider.css" rel="stylesheet">
    <link href="../../styles/seo/table.css" rel="stylesheet">
    <link href="../../styles/ozon/category.css" rel="stylesheet">
    <link href="../../styles/ozon/category2.css" rel="stylesheet">

{% endblock %}
{%block body%}
    <div id="response_div" style="margin-left: 10px;display: none;position: fixed; z-index: 100; bottom: 50px; background: red; color: white; padding: 20px; font-size: 20px; width: 350px; height: 100px; border-radius: 5px;">
    </div>
    <div class="main-content container-fluid" id="mp-stats-app">
        <div id="global-loader-block" class="mp-loader-overlay ag-overlay hidden" aria-hidden="true">
            <div class="ag-overlay-panel">
                <div class="ag-overlay-wrapper ag-layout-normal ag-overlay-loading-wrapper">
                    <div class="mp-loader-static"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="card card-border-color card-border-color-primary self-align-center">
                    <div class="card-header card-header-divider">
                        Панель управления<span class="card-subtitle">Для изменения параметров учетной записи</span>
                    </div>
                   
                    <div class="card-body">
                         <div class="form-group row">
                         <label class="col-4 col-lg-3 col-form-label text-left" for="inputPassword2">Тариф</label>
                         <div class="col-8 col-lg-9">
                                    <input class="form-control" value="Профессиональный" disabled >
                                </div>
                          </div>
                         <div class="form-group row">
                         <label class="col-4 col-lg-3 col-form-label text-left" for="inputPassword2">Дата окончания</label>
                         <div class="col-8 col-lg-9">
                                    <input class="form-control" value="
                        {% if user.dateExpired %}
                            {{user.dateExpired|date("m/d/Y") }}
                        {% else %}
                            Date empty
                        {%endif%}" disabled >
                                </div>
                          </div>
                         <div class="form-group row">
                         <label class="col-4 col-lg-3 col-form-label text-left" for="inputPassword2">Логин</label>
                         <div class="col-8 col-lg-9">
                                    <input class="form-control" value="{{user.username}}" disabled >
                                </div>
                          </div>
                              

                            <div class="form-group row">
                                <label class="col-4 col-lg-3 col-form-label text-left" for="inputPassword2">Пароль</label>
                                <div class="col-8 col-lg-9">
                                    <input value=""  class="form-control" id="inputPassword1" type="password" placeholder="Пароль" name="password">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-4 col-lg-3 col-form-label text-left" for="inputPassword2">
                                    Повторите пароль
                                </label>
                                <div class="col-8 col-lg-9">
                                    <input value="" class="form-control" id="inputPassword2" type="password" placeholder="Пароль" name="password2">
                                </div>
                            </div>

                            <div class="row pt-3 mt-1">
                                <div class="col-4 col-lg-3"></div>
                                <div class="col-8 col-lg-9">
                                    <p class="text-right">
                                        <button onclick="send()" class="btn btn-space btn-primary" type="submit">Сохранить изменения</button>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">

                
               

                <div class="card card-border-color card-border-color-primary self-align-center">
                    <div class="card-header card-header-divider">Настройки выгрузки</div>

                    <div class="card-body">

                        <form method="POST">
                            <input type="hidden" name="act" value="saveSettings">

                            <div class="form-group row">
                                <label class="col-4 col-lg-3 col-form-label text-left text-wrap" for="csv_headers_lang">
                                    Язык заголовков в CSV-файлах экспорта
                                </label>
                                <div class="col-8 col-lg-9">
                                    <select class="form-control" name="csv_headers_lang" id="csv_headers_lang" required="">
                                        <option selected="" value="en">
                                            английский
                                        </option>
                                        <option value="ru">
                                            русский
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="text-right pt-3 mt-1">
                                <button class="btn btn-space btn-primary" type="submit">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card card-border-color card-border-color-primary self-align-center d-none">
                    <div class="card-header card-header-divider">
                        Телегам бот
                        <span class="card-subtitle">Служит для взаимодействия с сервисами mpstats.io. Для подключения скопируйте и вставтьте ссылку в адресную строку браузера или нажмите кнопку "Перейти"</span>
                    </div>

                    <div class="card-body">
                        <form method="POST">
                            <input type="hidden" name="act" value="authTelegramBot">

                            <div class="form-group row">
                                <label class="col-4 col-lg-3 col-form-label text-left" for="telegramLink">Ссылка</label>
                                <div class="col-8 col-lg-9">
                                    <input class="form-control" id="telegramLink" type="text" name="apikey" value="https://t.me/Mpstatsbot?start=Ihg3p/jn">
                                </div>
                            </div>

                            <div class="row pt-3 mt-1">
                                <div class="col-12 text-right">
                                    <button class="btn btn-space btn-primary" type="submit">Перейти</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <script>
        let wait = true
        function send(){
            let value = document.getElementById("inputPassword1").value, value2 =  document.getElementById("inputPassword2").value
            try{
                if(wait){
                    wait = false
                    fetch(`{{ path("change_password") }}?pass=${value}&checkPass=${value2}`)
                        .then(async data => {
                            let json = await data.json()
                            if (json['data'] !== undefined){
                                outputResponse();
                            }
                            else if (json['error'] !== undefined){
                                outputResponse(json['error']['message'], false);
                            }
                        })
                    wait = true
                }

            }catch (ex){}
        }
        function outputResponse(string = "Успешно", success = true){
            if(success){
                document.getElementById("response_div").innerText = string
                document.getElementById("response_div").style.background = "green"
                document.getElementById("response_div").style.display = "block"
                setTimeout(e => { document.getElementById("response_div").style.display = "none" }, 5*1000 )
            }else{
                document.getElementById("response_div").innerText = string
                document.getElementById("response_div").style.background = "red"
                document.getElementById("response_div").style.display = "block"
                setTimeout(e => { document.getElementById("response_div").style.display = "none" }, 5*1000 )
            }
        }
    </script>
{%endblock%}
