body{
    min-height: 90vh;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
    font-size: 4vh;
}
form :only-child{
    margin: 2vh;
}
p{
    margin-bottom: 5vh;
}
.error{
    color:red;
    font-size: 2vh;
    margin: 0;
}
form input{
    background: white;
    text-align: center;
    border-width:5px;
    border-color: green;
    width: 150px;
    height: 2vh;
    padding: 1vh;
    border-radius: 45px;
    font-size: 2vh;
}
.submit{
    margin-block: 5vh;
    width: 150px;
    background: green;
    font-size: 2vh;
    height: auto;
    padding: 1vh 3vh;
    border-radius: 45px;
    color: black;
}
